.header {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: baseline;
    font-weight: 100;
    text-align: center;
    justify-content: center;
    background: var(--primary);
    transition: .3s;
    // header shrinks when .small added to .header
    &.small {
      height: 70px;
      box-shadow: 0 0 5px rgba(black, .2);
      // when header.small also change page offset
      & ~ .offset {
        padding-top: 140px;
      }
      // when header.small change logo pad & font size
      .header_logo {
        padding-top: 20px;
        font-size: 20px;
        text-shadow: none;
      }
    }
}

.logo {
    height: 40vh;
    font-weight: 100;
    text-align: center;
    transition: .3s;
    // header shrinks when .small added to .header
    &.small {
        height: 70px;
    // when header.small also change page offset
    & ~ .offset {
        padding-top: 140px;
    }
      // when header.small change logo pad & font size
      .header_logo {
        padding-top: 20px;
        font-size: 20px;
        text-shadow: none;
      }
    }
}

.menu {
    border-top: 1px solid #ffffff;
    width: 100%;
    float: left;
    height: 0;
    margin: 0 0;
}

.menu ul{
    list-style: none;
}

.menu ul li {
    float: left;
    display: block;
    min-width: 63px;
    margin: 0 15px;
}

.menu ul li a {
    cursor: pointer;
}
.menu ul li a:hover {
    color: rgb(78, 62, 53);
}

.offset {
    margin-top: 0;
    padding-top: 20em;
    text-align: center;
    transition: .3s;
}

.about-program {
    display: flex;   
}

mat-card {
    margin: 0 auto 12px;
    width: 100vw;
    align-items: center;
    background: none;
    color: #ffffff;
    box-shadow: none;
    border: none;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.big {
    font-size: 17pt;
    font-weight: 700;
}

.smaller-para {
    font-size: 15pt;
    line-height: 1.5;
}

.dots {
    letter-spacing: 14pt;
}

#mobile-menu {
    display: none;
}

@media(max-width: 1024px){
    #mobile-menu {
        display: flex;
    }

    .about-program {
        width: 422px;
    }
}