<div class="page-wrapper">
    <app-header></app-header>
    <div id="header" class="header" *ngIf="_router.url == '/home'">
        <section class="about-program" *ngIf="currentScreenSize == 'Large'; else elseBlock">
            <mat-card>
                <p class="big">
                    Are you a NJ resident who has done something good in your community, your life, or the world?
                </p>
                <p class="big">
                    Do you know someone who is from NJ and has “done some good” in this world and want to nominate them for an award?              
                </p>
                <p class="big">
                    Are you part of a NJ organization that does good?
                </p>
                <p class="dots">•••</p>
                <p class="smaller-para">
                    If you answered “yes”- tell us about it! We are chasing good in the world and rewarding people for their good deeds, good works, and in general doing good. <br> We believe there is so much good in the world- we need to find it and celebrate it!
                </p>
                <p class="smaller-para">
                    Share your story with us and you could be granted an award. We will be showcasing and highlighting good deeds, good people and good organizations!
                </p>
                <p class="smaller-para">
                    Fill out the form on the Submit Your Story page and write your story or upload a video.
                </p>
                <p class="smaller-para">
                    We can’t wait to see the GOOD you have done!
                </p>          
            </mat-card>
            
        </section>
        <div class="offset"></div>
        <ng-template #elseBlock>
            <section class="about-program">
                <mat-card>
                        <p class="big-mobile">
                            Are you a NJ resident who has done something good in your community, your life, or the world?
                        </p>
                        <p class="big-mobile">
                            Do you know someone who is from NJ and has “done some good” in this world and want to nominate them for an award?              
                        </p>
                        <p class="big-mobile">
                            Are you part of a NJ organization that does good?
                        </p>
                        <p class="dots-mobile">•••</p>
                        <p class="smaller-para-mobile">
                            If you answered “yes”- tell us about it! We are chasing good in the world and rewarding people for their good deeds, good works, and in general doing good. <br> We believe there is so much good in the world- we need to find it and celebrate it!
                        </p>
                        <p class="smaller-para-mobile">
                            Share your story with us and you could be granted an award. We will be showcasing and highlighting good deeds, good people and good organizations!
                        </p>
                        <p class="smaller-para-mobile">
                            Fill out the form on the Submit Your Story page and write your story or upload a video.
                        </p>
                        <p class="smaller-para-mobile">
                            We can’t wait to see the GOOD you have done!
                        </p>          
                    </mat-card>            
            </section>
        </ng-template>
    </div>
</div>
