.nlca_container {
    padding: 1em;
    text-align: justify;
    line-height: 1.5em;
}

.nlca_header {
    text-align: center;
}

.mat-checkbox-layout {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: inherit;
    align-items: baseline;
    vertical-align: middle;
    display: inline-block !important;
    white-space: break-spaces !important;
}

.mat-checkbox-layout .mat-checkbox-label {
    line-height: 24px;
    width: 100%;
    min-width: 15em;
}