<div class="page-wrapper">
    <mat-card class="instructions">
        <h2>Here's How it Works</h2>
        <ol>
            <li>Nominate someone, yourself, or an organization (NJ residents/organizations only please) who has done good deed(s). This can be an isolated situation or something ongoing- whatever you consider “good deeds”</li>
            <li>Fill out the form below.</li>
            <li>Submit the form by 12/31/21.</li>
            <li>We will contact potential winners to let them know or we may email/call you for further information.</li>
            <li>Winners of the Chasing Good award(s) will be notified and mailed a check (TBD if we will be able to have an awards ceremony in 2022).</li>
            <li>Sit back and know that it pays to good!</li>
        </ol>        
    </mat-card>
    <div class="hr-divider"></div>
    <mat-card class="the-form">
        <mat-card-title>Tell Us your Story...</mat-card-title>
        <mat-card-subtitle>Follow the steps and fill out the form below to tell us the GOOD you have done!</mat-card-subtitle>
        <app-doing-good-form></app-doing-good-form>    
    </mat-card>
</div>
