.main {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

.dashboard-content {
    padding: 100px;
}

app-dashboard {
    position: fixed;
    width: 100vw;
}