.how-hdr {
    width: 60%;
    margin: 25px auto;
    text-align: center;
    line-height: 1.5;
}

.instructions {
    width: 60%;
    margin: 25px auto;
    text-align: center;
    line-height: 1.5;
    border: 1px solid #d1d1d1;
    background-color: hsl(0, 0%, 92%);
}

.the-form {
    width: 60%;
    margin: 25px auto;
    border: 1px solid #d2d2d2;
    background-color: hsl(0, 0%, 92%);
}

.instructions p, .the-form p {
    text-align: center;
}

.mat-card {
    box-shadow: none;
}

.page-wrapper {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background: #ffffff;
    padding-top: 2em;
}

h2 {
    font-size: 32pt;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: initial;
    color: #000;
}

h4 {
    margin-bottom: 24px;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: initial;
    color: #000;
    line-height: 1.2;
    margin: 0;
}

p > em {
    font-size: 14pt;
}

.email {
    color: rgba(0, 0, 0, 0.87);
}

.number-outline{
    height: 70px;
    width: 70px;
    font-size: 1.75rem;
    border-radius: 50%;
    line-height: 66px;
    text-align: center;
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    margin: -20px auto 1.5rem auto;    
}
