<div class="page-wrapper">
    <table mat-table matSort [dataSource]="dataSource">
        <!-- id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let submission"> {{submission.id}} </td>
        </ng-container>

        <!-- firstName Column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td mat-cell *matCellDef="let submission"> {{submission.firstName}} </td>
        </ng-container>

        <!-- lastName Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let submission"> {{submission.lastName}} </td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let submission"> {{submission.email}} </td>
        </ng-container>

        <!-- date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let submission"> {{submission.date}} </td>
        </ng-container>

        <!-- nominating Column -->
        <ng-container matColumnDef="nominating">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nominating </th>
            <td mat-cell *matCellDef="let submission"> {{submission.nominating}} </td>
        </ng-container>

        <!-- voted Column -->
        <ng-container matColumnDef="voted">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Voted </th>
            <td mat-cell *matCellDef="let submission"> {{submission.voted}} </td>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let submission"><a><mat-icon aria-hidden="false" aria-label="ellipsis-vertical" [matMenuTriggerFor]="menu">more_vert</mat-icon></a></td>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDetailsDialog()">Details</button>
                <button mat-menu-item (click)="openStoryDialog()">Read Story</button>
                <button mat-menu-item (click)="openVideoDialog()">Watch Video</button>
                <button mat-menu-item (click)="openContactDialog()">Contact</button>
                <button mat-menu-item (click)="openVotingDialog()">Vote</button>
            </mat-menu>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>    
</div>
<mat-paginator [length]="1" [pageSize]="25" aria-label="Select page"></mat-paginator>