a {
    cursor: pointer;
}

.page-wrapper {
   height: 50%;
   border: 1px solid #eeeeee;
   overflow-y: scroll;
   overflow-x: hidden;
   background: #f1f1f1;
}

.mat-header-row {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

.mat-menu-content {
    width: 150px !important;
}

table thead {
    width: 100%;    
}

table.mat-table {
    width: 65vw;
}