<div class="form-wrap">
    <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="onCreate(createForm.value)">
            <mat-stepper labelPosition="bottom" (selectionChange)="onStepChange($event)">
                <mat-step label="Your Basic Information">
                    <app-basic-info-form [basicInfoFormGroup]="basicInfoFormGroup"></app-basic-info-form>
                    <div class="mt">
                        <button mat-button matStepperNext type="button">Next</button>
                    </div>
                </mat-step>
                <mat-step label="Nomination Details">
                    <app-nomination-details-form [nominationDetailsFormGroup]="nominationDetailsFormGroup"></app-nomination-details-form>
                    <div class="mt">
                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="button">Next</button>
                    </div>
                </mat-step>
                <mat-step label="Story Details">
                    <app-story-details-form [storyDetailsFormGroup]="storyDetailsFormGroup"></app-story-details-form>
                    <div class="mt">
                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="button">Next</button>
                    </div>
                </mat-step>
                <mat-step label="References">
                    <app-references-form [refFormGroup]="refFormGroup"></app-references-form>
                    <div class="mt">
                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="button">Next</button>
                    </div>
                </mat-step>
                <mat-step label="Disclaimer">
                    <app-disclaimer-form [disclaimerFormGroup]="disclaimerFormGroup"></app-disclaimer-form>
                    <div class="mt">
                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="button">Next</button>
                    </div>
                </mat-step>
                <mat-step label="Review & Submit">
                    <app-review-and-submit [submission]="submission"></app-review-and-submit>
                    <div>
                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="submit">Submit</button>
                    </div>
                </mat-step>
            </mat-stepper>        
    </form>
</div>