p {
    line-height: 1.5;
}

.about-section {
    margin: 0 auto;
    padding: 15px;
    background-color: white;
    width: 98%;
}

.about-section h1 {
   text-align: center;
   font-size: 32pt;
}

.family-image {
    margin: 0 auto 15px auto;
    width: 667px;
}

.family-image img {
    margin: 0 auto 0 auto;
    width: 667px;
}

.quote-wrap {
    text-align: center;
    font-size: 24pt;
    width: 80%;
    margin: 0 auto;
}

.quote-wrap span {
    font-style: italic;
    line-height: 1.5;
}

.quote {
    text-align: center;
    font-size: 24pt;
    width: 100%;
    margin: 0 auto;
}

.quote::before {
    content: '“';
    font-size: 18pt;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.quote::after {
    content: '”';
    font-size: 18pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.rows-wrap {
    width: 80%;
    margin: 0 auto;
}

.rows {
    display: flex;
    flex-direction: column;
}
.columns {
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

.greeting, .our-story-1, .our-story-2 {
    font-size: 18pt;
    margin: 5px 10px;
}

.our-story-1 {
    flex: 2;
    margin: 0 10px 0 10px;
}

.our-story-2 {
    flex: 2;
    margin: 0 10px 0 10px;
}

.dots {
    text-align: center;
    letter-spacing: 14pt;
}