<div class="about-section">
    <div class="family-image">
        <img src="../assets/Chasing-Good.png">
    </div>
    <div class="quote-wrap">
        <p class="quote">How far that little candle throws his beams! So shines a good deed in a weary world. </p>
        <span>--William Shakespeare</span>
    </div>
    <div class="hr-divider"></div>
    <h1>Greetings</h1>
    <div class="hr-divider"></div>
    <div class="rows">
        <div class="columns">
            <p class="our-story-1">
                It all started when Barbara and Nick married and raised their three daughters in Westfield, NJ. As the girls grew older they witnessed their parents perform countless good deeds and selfless acts of kindness. The girls remember their mother, a teacher, offering to help out a struggling family in the district. Their girls watched as Barbara and Nick welcomed people into their home, played a huge role in the church and always thought of others before themselves. Their girls; Michele, Christine, Antonia and later Johannah learned the impact and importance of volunteerism, which would ignite a passion in all of the girls. The idea of doing good and helping others was eventually passed on to the next generation of 9 grandchildren ranging from 25-13 years old.
            </p>
            <p class="our-story-2">
                Barbara and Nick’s children and grandchildren have watched their love and kindness throughout the years and wanted to create an organization to showcase and celebrate kind deeds out in the world. Together with Barbara and Nick, their daughters, their son-in-laws and grandchildren, we are proud to present the Ugenti generational award and award ceremony where we literally chase good in the world! Our goal is to discover inspiring, kind stories and reward the winners!
                Because the world could always use some extra good in it!
            </p>
        </div>
    </div>
</div>
