.mt {
    margin-top: 1em;
}

#fileUpload {
    margin-left: 7px;
}

.story {
    display: flex;
    margin: 2em 1em;
}

.video-hint {
    margin-left: 95px;
    font-style: italic;
    font-size: 8pt;
    color: #ff0000;
}

textarea.mat-input-element {
    height: 25em;
}

.mat-form-field {
    width: 53em;
}