mat-card {
    width: 80%;
    margin: 0 auto;
}

p {
    line-height: 1.5;
}

.mat-card {
    box-shadow: none;
}

.mat-card-title {
    font-size: 32pt;
    font-weight: 400;
    text-align: center;
    margin: 5px 10px;
    line-height: 1.5;
}

.page-wrapper {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background: #ffffff;
    padding-top: 2em;
}

.dots {
    text-align: center;
    letter-spacing: 14pt;
}