<div class="container" id="page-wrap">
  <section class="header-wrap">
    <app-header></app-header>
  </section>
  <section>
    <app-about></app-about>
  </section>
  <section>
    <div class="call-to-action">
      <h1>Tell Us your Story...</h1>
    </div>

  </section>
  <section>
    <div class="instructions">
      <p>
          Have you done something good in your community, your life, or the world?
      </p>
      <p>
          Do you know someone who has “done some good” in this world and want to nominate them for an award?
      </p>
      <p>
          Are you part of an organization that does good?
      </p>
      <p>
          If you answered “yes”- tell us about it! We are chasing good in the world and rewarding people for their good deeds, good works, and in general doing good. We believe there is so much good in the world- we need to find it and celebrate it! 
      </p>
      <p>
          Share your story with us and you could win a cash prize. We will be showcasing and highlighting good deeds, good people and good organizations! 
      </p>
      <p>
          Fill out the google form and write your story or upload a video.
      </p>
      <p>
          We can’t wait to see the GOOD you have done!
      </p>
      <app-doing-good-form></app-doing-good-form>   
    </div>
  </section>
  <section>
    
  </section>
</div>


<router-outlet></router-outlet>
