<div id="header" class="header">
    <a routerLink="/"><img class="display logo" id="logo" src="../assets/chasinggood-logo.png" alt=""></a>    
    <a class="menu-button" (click)="toggleMenu();"><fa-icon [icon]="faBars"></fa-icon></a>
    <div class="menu home hide" id="menu">
        <nav mat-tab-nav-bar [disablePagination]=true>
            <a mat-tab-link *ngFor="let link of links" [routerLink]="link.link"  routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"> {{link.label}} </a>
        </nav>
    </div>
</div>