mat-card {
    min-height: 50em;
    width: 75vw;
    margin: 0 auto;
}

div {
    margin: 3em auto;
    width: 15em;
    font-size: 38pt;
}

p, address{
    line-height: 1.5;
    text-align: center;
}

a{
    color:#000000;
    cursor: pointer;
}