<mat-card>
    <mat-card-title>Contact Us</mat-card-title>
    <mat-card-subtitle>if you have any questions, feel free to email us or use snail mail at</mat-card-subtitle>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Email">
                <div class="content">
                    <p><a href="mailto:chasinggoodnj@gmail.com">chasinggoodnj@gmail.com</a></p>
                </div>
            </mat-tab>
            <mat-tab label="Snail Mail">
                <div class="content">
                    <address>
                        Chasing Good<br>
                        PO Box 155<br>
                        Cranford, NJ 07016<br>
                    </address>
                    <p></p>
                    <p></p>
                    <p></p>                    
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>

