.header {
    padding-top: 2em;
    z-index: 9999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15em;
    float: left;
    text-align: center;
    background: var(--primary);
    transition: .3s;
    // header shrinks when .small added to .header
    &.small {
      height: 70px;
      box-shadow: 0 0 5px rgba(black, .2);
      // when header.small also change page offset
      & ~ .offset {
        padding-top: 140px;
      }
      // when header.small change logo pad & font size
      .header_logo {
        padding-top: 20px;
        font-size: 20px;
        text-shadow: none;
      }
    }
}

.logo {
    width: 20em;
    margin-top: -1em;
    padding-top: 0;
    font-weight: bold;
    text-align: center;
    transition: .3s;
    // header shrinks when .small added to .header
    &.small {
        width: 7em;
        margin-top: -2em;
        padding-top: 0;
    // when header.small also change page offset
    & ~ .offset {
        padding-top: 140px;
    }
      // when header.small change logo pad & font size
      .header_logo {
        padding-top: 20px;
        font-size: 20px;
        text-shadow: none;
      }
    }
}

.menu {
    width: auto;
    float: left;
    height: 50px;
    margin: 0 15px;
    padding-top: 8em;
    &.small {
        padding-top: 1em;
    }
}

.menu ul{
    list-style: none;
}

.menu ul li {
    float: left;
    display: block;
    min-width: 50px;
    padding: 0 2em;
}

.menu ul li a {
    cursor: pointer;
}
.menu ul li a:hover {
    color: rgb(78, 62, 53);
}

.offset {
    margin-top: 0;
    padding-top: 30em;
    text-align: center;
    transition: .3s;
}

.mat-tab-link {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 12pt;
    color: #ffffff;
    opacity: 1;
    letter-spacing: 2pt;
}