<div id="header" class="header">
    <div class="menu display" id="menu">
        <nav mat-tab-nav-bar>
            <a mat-tab-link *ngFor="let linkLeft of linksLeft" [routerLink]="linkLeft.link"  routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"> {{linkLeft.label}} </a>
        </nav>
    </div>
    <a routerLink="/"><img class="display logo" id="logo" src="../assets/chasinggood-logo.png" alt=""></a>
    <div class="menu display" id="menu">
        <nav mat-tab-nav-bar>
            <a mat-tab-link *ngFor="let linkRight of linksRight" [routerLink]="linkRight.link"  routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"> {{linkRight.label}} </a>
        </nav>
    </div>
</div>

