
.mt {
    margin-top: 1em;
}

#fileUpload {
    margin-left: 7px;
}

.fileInput {
    display: none;
}

.fileUpload {
    min-width: 150px;
    max-width: 500px;
    display: inline;
}

.story {
    display: flex;
    margin: 2em 1em;
}

.video-hint {
    font-style: italic;
    font-size: 12pt;
    color: #ff0000;
}

textarea.mat-input-element {
    height: 25em;
    width: auto;
}

.mat-form-field {
    min-width: 15em;
    width: 100%;
}

.mat-hint,
.mat-error {
    font-size: 10pt;
}