<form *ngIf="basicInfoFormGroup" [formGroup]="basicInfoFormGroup">
    <div class="mt your-name" >
        <mat-form-field>
            <mat-label for="firstNameNominator">First Name:</mat-label>
            <input matInput id="firstNameNominator" type="text" formControlName="firstName" placeholder="Your First Name" required>
            <mat-hint>hint</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <mat-label for="lastNameNominator">Last Name:</mat-label>
            <input matInput id="lastNameNominator" type="text" formControlName="lastName" placeholder="Your Last Name" required>
            <mat-hint>hint</mat-hint>
        </mat-form-field>
    </div>
    <div class="mt">
        <mat-form-field>
            <mat-label for="emailNominator">Email:</mat-label>
            <input matInput id="emailNominator" type="email" formControlName="email" placeholder="Email Address" required>
            <mat-hint>hint</mat-hint>
        </mat-form-field>
    </div>
    <div class="mt">
        <mat-form-field>
            <mat-label for="phoneNominator">Phone:</mat-label>
            <input matInput id="phoneNominator" type="phone" formControlName="phone" placeholder="Phone Number">
            <mat-hint>hint</mat-hint>
        </mat-form-field>
    </div>
</form>

