<form [formGroup]="basicInfoFormGroup">
    <div class="mt your-name" >
        <mat-form-field>
            <mat-label for="nameNominator">First Name:</mat-label>
            <input matInput id="firstNameNominator" type="text" formControlName="firstName" placeholder="Your First Name" required>
            <mat-hint>hint</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <mat-label for="nameNominator">Last Name:</mat-label>
            <input matInput id="lastNameNominator" type="text" formControlName="lastName" placeholder="Your Last Name" required>
            <mat-hint>hint</mat-hint>
        </mat-form-field>
    </div>
    <div class="mt">
        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput id="yourEmail" type="email" formControlName="email" placeholder="Email Address" required>
            <mat-hint>hint</mat-hint>
        </mat-form-field>
    </div>
</form>

