<div class="nlca_container">
    <p class="nlca_header">{{nlca_header}}</p>
    <p>{{nlca_last_updated}}</p>
    <p>{{nlca_para1}}</p>
    <p>{{nlca_para2}}</p>
    <p>{{nlca_para3}}</p>
    <ol type="1">
        <li>
            <p>{{nlca_ol.list_item_1.para1}}</p>
            <ol type="A">
                <li>{{nlca_ol.list_item_1.list_item_a}}</li>
                <li>{{nlca_ol.list_item_1.list_item_b}}</li>
            </ol>
        </li>
        <li>{{nlca_ol.list_item_2}}</li>
        <li>{{nlca_ol.list_item_3}}</li>
        <li>{{nlca_ol.list_item_4}}</li>
    </ol>
    <p class="nlca_fine_print">
        <em>
            {{nlca_fine_print}}
        </em>
    </p>
    <div class="btn_container">
        <button>Cancel</button>
        <button>Agree</button>
    </div>
</div>
