.form-wrap {
    margin: 0 auto;
    background-color: #ededed;
    width: 100%;
    display: block;
}

.your-organization {
    display: flex;
    margin: 2em 1em;
}

.your-organization > input{
    margin: 2em 4em 2em 0;
    width: 25em;
}

.your-nomination {
    display: flex;
    margin: 2em 1em;
}

.good-deed-category {
    display: flex;
    margin: 2em 1em;
}

.story {
    display: flex;
    margin: 2em 1em;
}

textarea.mat-input-element {
    height: 25em;
}

.mat-form-field {
    width: 53em;
}

.mat-radio-group {
    display: block;
    width: 100%;
    margin-left: 3em;
}

.mat-radio-button {
    width: 100%;
    padding: 0.5em 0;
}

.mat-select {
    border: 1px solid #868686;
    border-radius: 3px;
    padding: 10px;
}

.mat-button {
    padding: 10px 50px;
    background: var(--primary);
    color: #ffffff;
}

.mat-button-mobile {
    padding: 5px 25px;
    background: var(--primary);
    color: #ffffff;
}

.mt {
    margin-top: 1em;
}

#fileUpload {
    margin-left: 7px;
}

.prev-btn {
    float: left;
}

.nxt-btn, .submit-btn {
    float: right;
}

.mat-button.mat-button-disabled.mat-button-disabled {
    background-color: #c0c0c0;
}

.mat-step-icon-invalid {
    background-color: #e43a0f;
}

.mat-vertical-stepper-content {
    margin: 12px;
}
