.dashboard {
    min-height: 100%;
    width: 80vw;
    margin-top: 4em;
    display: block;
    padding: 0;
}

.p-panelmenu .p-panelmenu-header-link {
    border-bottom: 1px solid #999999 !important;
    padding: 2em !important;
}