<form *ngIf="disclaimerFormGroup" [formGroup]="disclaimerFormGroup">
    <div>
        <mat-card>
            <h4><strong>Disclaimer: </strong></h4><p>Proin eleifend enim at justo cursus, ut efficitur sem sodales. Aenean faucibus, erat nec vehicula molestie, risus nunc sodales augue, non fermentum libero orci non purus. Fusce accumsan laoreet pulvinar. Aenean maximus arcu ut nisi feugiat porta. Sed vel nunc nec urna cursus viverra. Cras in ipsum vitae massa dictum posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet dui id lorem tincidunt pharetra ac a sapien. Suspendisse porta aliquam imperdiet. Nulla vehicula volutpat urna in fermentum. Pellentesque ut blandit dui, ac sollicitudin elit. Aliquam non dui at nulla pharetra lacinia. Donec congue sit amet risus nec tincidunt. Donec semper felis orci, vel ultrices metus viverra eget. Aliquam pretium neque turpis. Vivamus justo nunc, tincidunt sit amet maximus id, pellentesque id augue.</p>
            <mat-checkbox formControlName="agreeToDisclaimer" id="disclaimer">I Agree</mat-checkbox>                                
        </mat-card>
    </div>
</form>
