<div class="pp_container">
    <h1 class="pp_header">{{pp_header}}</h1>
    <p>{{pp_last_updated}}</p>
    <p>{{pp_para1}}</p>
    <p>{{pp_para2}}</p>
    <p>{{pp_para3}}</p>
    <p>{{pp_para4}}</p>
    <p>{{pp_para5}}</p>
    <p>{{pp_para6}}</p>
    <p>{{pp_para7}}</p>
    <h2>{{pp_cpi_header}}</h2>
    <h3>{{pp_cpi_subheader1}}</h3>
    <p>{{pp_cpi_para1}}</p>
    <h3>{{pp_cpi_subheader2}}</h3>
    <p>{{pp_cpi_para2}}</p>
    <h3>{{pp_cpi_subheader3}}</h3>
    <p>{{pp_cpi_para3}}</p>
    <h3>{{pp_cpi_subheader4}}</h3>
    <p>{{pp_cpi_para4}}</p>
    <p>{{pp_cpi_para5}}</p>
    <h2>{{pp_spi_header}}</h2>
    <h3>{{pp_spi_subheader1}}</h3>
    <p>{{pp_spi_para1}}</p>
    <h3>{{pp_spi_subheader2}}</h3>
    <p>{{pp_spi_para2}}</p>
    <h2>{{pp_upi_header}}</h2>
    <h3>{{pp_upi_subheader1}}</h3>
    <p>{{pp_upi_para1}}</p>
    <p>{{pp_upi_para2}}</p>
    <p>{{pp_upi_para3}}</p>
    <p>{{pp_upi_para4}}</p>
    <h3>{{pp_upi_subheader2}}</h3>
    <p>{{pp_upi_para5}}</p>
    <h3>{{pp_upi_subheader3}}</h3>
    <p>{{pp_upi_para6}}</p>
    <h3>{{pp_upi_subheader4}}</h3>
    <p>{{pp_upi_para7}}</p>
    <h3>{{pp_upi_subheader5}}</h3>
    <p>{{pp_upi_para8}}</p>
    <h3>{{pp_upi_subheader6}}</h3>
    <p>{{pp_upi_para9}}</p>
    <p>{{pp_upi_para10}}</p>
    <h3>{{pp_upi_subheader7}}</h3>
    <p>{{pp_upi_para11}}</p>
    <h3>{{pp_upi_subheader8}}</h3>
    <p>{{pp_upi_para12}}</p>
    <p>{{pp_upi_para13}}</p>
    <p>{{pp_upi_para14}}</p>
    <p>{{pp_upi_para15}}</p>
    <p>{{pp_upi_para16}}</p>
    <p>
        {{pp_upi_para17.line1}} <br />
        {{pp_upi_para17.line2}} <br />
        {{pp_upi_para17.line3}} <br />
        {{pp_upi_para17.line4}} <br />
        {{pp_upi_para17.line5}}
    </p>
    <p>{{pp_upi_para18}}</p>
    <p>
        {{pp_upi_para19.line1}} <br />
        {{pp_upi_para19.line2}} <br />
        {{pp_upi_para19.line3}} <br />
        {{pp_upi_para19.line4}} <br />
        {{pp_upi_para19.line5}} <br />
        {{pp_upi_para19.line6}} <br />
        {{pp_upi_para19.line7}}
    </p>
</div>