#nameReview,
#emailReview,
#nominatingReview,
#categoryReview,
#countyReview,
#storyReview,
#uploadReview,
#disclaimerReview {
    display: flex;
    align-items: baseline;
}

#nominatingReview span {
    border-bottom: 1px solid #a5a5a5;
    padding: 5px 5px 2px;
}

p {
    padding-left: 5px;
}