<div id="summary">
    <div id="nameReview">
        <h4><strong>Name:</strong></h4><p>{{submission.firstName}} {{submission.lastName}}</p>    
    </div>
    <div id="emailReview">
        <h4><strong>Email:</strong></h4><p>{{submission.email}}</p>    
    </div>
    <div id="nominatingReview">
        <h4><strong>Who are you Nominating:</strong></h4>
        <div *ngIf="submission.nominatingOptions == 'Self'">
            <p>Self</p>
        </div>
        <div *ngIf="submission.nominatingOptions == 'Organization'">
            <p>Organization</p>
            <p>{{submission.organizationName}}</p>
        </div>
        <div *ngIf="submission.nominatingOptions == 'Individual'">
            <p>Individual</p>
            <p>{{submission.individualFullName}}</p>
        </div>
        <div *ngIf="submission.nominatingOptions == 'Other'">
            <p>Other</p>
            <p>{{submission.otherDescription}}</p>
        </div> 
    </div>
    <div id="categoryReview">
        <h4><strong>Category for Nomination:</strong></h4><p>{{submission.category}}</p>    
    </div>
    <div id="countyReview">
        <h4><strong>NJ County:</strong></h4><p>{{submission.county}}</p>    
    </div>
    <div id="storyReview">
        <h4><strong>Story:</strong></h4><p>{{submission.story}}</p>    
    </div>
    <div id="uploadReview">
        <h4><strong>Uploaded:</strong></h4>
        <p>{{submission.uploadedVideo}}</p>
    </div>
    <div id="references">
        <h4><strong>References:</strong></h4><p>{{submission.referenceOne}}</p> 
    </div>
    <div id="disclaimerReview">
        <h4><strong>Disclaimer:</strong></h4><p *ngIf="submission.disclaimerAgreement == true">I agreed</p>    
    </div>
</div>
